<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form action="/signinProcess" method="post" th:action="@{/signinProcess}" th:if="${#authorization.expression('!isAuthenticated()')}">
			<table>
		        <tbody>
		        <tr>
		        	<td><label for="username" th:text="#{Username_Label}">Prototype Username label</label></td>
					<td><input id="username" name="username" type="text" size="50"/></td>
		        </tr>
		        <tr>
		        	<td><label for="password" th:text="#{Password_Label}">Prototype User Password</label></td>
					<td><input id="password" name="password" type="password" size="50"/></td>
		        </tr>
		        <tr>
		        	<td colspan="2"><input type="submit" th:value="#{Topbar_Login_Label}" value="Prototype Login label"/></td>
		        </tr>
		        </tbody>
		    </table>
		</form>
		
	</div>
	
</body>

</html>
