<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en">
<head>

    <title layout:title-pattern="$DECORATOR_TITLE $CONTENT_TITLE" th:text="#{PageTitle}">Head Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<body>
	<div id="topbar" th:replace="fragments/bodyHeader :: authHeader">
		auth header
	</div>
	
	<div id="pagewidth">
		<!-- ############## header ############## -->
        <header id="header" th:replace="fragments/bodyHeader :: topHeader">
			Template top header header
        </header>
        <div id="wrapper" class="clearfix">
        	<br />
            <!-- ############## CONTENT ############## -->
            <section id="maincol">
                <div layout:fragment="body">
                	Content
                </div>
            </section>
            
            <!-- ############## MENU ############## -->
            <nav id="menu">
            	<div th:replace="fragments/left :: left">
					Template left menu
				</div>
            </nav>
        </div>
	</div>
</body>
</html>