<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>

<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form>
			<h2 th:text="#{Welcome_Msg}">Welcome Prototype Message</h2> <br />
			<h4 th:if="${#authorization.expression('isAuthenticated()')}" th:text="#{Welcome_Logged_User}">Prototype Welcome Logged User</h4>
			<h4 th:if="${#authorization.expression('!isAuthenticated()')}">
				<span th:text="#{Welcome_Signup_Phrase}">Prototype Welcome sign up phrase</span>
				<a href="customer/newForm.html" th:href="@{customer/new}"><span th:text="#{Welcome_Signup_Button}">Prototype Welcome Signup button</span></a>
			</h4>
		</form>
	</div>
	
</body>

</html>
