<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{PageTitle}">Store title</title>
	
	<link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>

<body>
	
	<div id="topbar" th:fragment="authHeader">
		<form action="/signinProcess" method="post" th:action="@{/signinProcess}" th:if="${#authorization.expression('!isAuthenticated()')}">
			<label for="username" th:text="#{Topbar_User_Label}">Prototype User label</label>
			<input id="username" name="username" type="text" size="50"/>
			
			<label for="password" th:text="#{Topbar_Pass_Label}">Prototype User Password</label>
			<input id="password" name="password" type="password" size="50"/>
			
			<input type="submit" th:value="#{Topbar_Login_Label}" value="Prototype Login label"/>
		</form>
		<form th:action="@{/customer/new}" action="#" th:if="${#authorization.expression('!isAuthenticated()')}">
			<input type="submit" th:value="#{Topbar_Signup_Label}" value="Prototype Signup label"/>
		</form>
		<form action="/logout" method="post" th:action="@{/logout}"  th:if="${#authorization.expression('isAuthenticated()')}">
			<input type="submit" th:value="#{Topbar_Logout_Label}" value="Prototype logout label"/>
			<span th:text="!#{Topbar_User_Label} ${#authentication.name}|" class="user">Prototype Tobbar User label</span>
		</form>
	</div>
	
	<header id="header" th:fragment="topHeader">
		<img th:src="@{/img/logo-small.png}" 
     		src="../../../resources/img/logo-small.png" />
		<h1 th:text="#{TopTitle}">Top Title</h1>
    	<h3 th:text="#{TopSubTitle}">Top Sub Title</h3>
	</header>
	
</body>

</html>