<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{PageTitle}">Store title</title>
	
	<link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>

<body>
	
	<div th:fragment="productData (product)">
		<table cellpadding="0" cellspacing="0" border="0" th:object="${product}">
        <tbody>
          <tr>
          	<td class="productImgCol">
          		<img src="../../../resources/img/tango_nature_icon.png" th:src="@{'image/' + ${id}}"
		            			height="100px" width="100px"/>
          	</td>
          	<td>
          		<table>
          			<tbody>
          				<tr>
          					<td class="productDescriptionCol">
          						<div th:text="|*{name} (SKU: *{id})|">
          							Prototype Product Description
          						</div>
          						<br/>
          						<label  for="price"><span th:text="#{ListProductTitle_price}">Prototype product title</span></label>
		      					<span id="price" th:text="|$ *{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}|">0.00</span>
          					</td>
          					<td>
          					</td>
          				</tr>
          			</tbody>
          		</table>
          	</td>
          </tr>
        </tbody>
      </table>
	</div>
	
</body>
</html>