<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title th:text="#{ListCategoryTitle}">List Category Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<img src="../../images/header.jpg" th:src="@{/resources/images/header.jpg}" alt="Spring Travel" />
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form id="categoryList">
			Prototype My Orders
		</form>
	</div>
	
</body>

</html>
