<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title th:text="#{EditCategoryTitle}">Edit Category Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form>
			<table th:object="${category}">
				<thead>
		            <tr>
		                <th th:text="#{EditCategoryLabel_id}">Prototype id</th>
		                <th th:text="#{EditCategoryLabel_name}">Prototype name</th>
		                <th th:text="#{EditCategoryLabel_tags}">Prototype tags</th>
		            </tr>
		        </thead>
		        <tbody>
			        <tr>
		        		<td><label for="id" th:text="#{EditCategoryLabel_id}">Prototype Category Id</label></td>
			        	<td>
							<input id="id" type="text" th:field="*{id}" th:title="#{EditCategoryTitle_id}" readonly="readonly"/>
						</td>
			        	<td><label for="name" th:text="#{EditCategoryLabel_name}">Prototype Category name</label></td>
			        	<td>
							<input id="name" type="text" th:field="*{name}" th:title="#{EditCategoryTitle_name}" required="required" />
							<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</span>
						</td>
						<td><label for="tags" th:text="#{EditCategoryLabel_tags}">Prototype Category tags</label></td>
			        	<td>
							<input id="tags" type="text" th:field="*{tags}" th:title="#{EditCategoryTitle_tags}"/>
						</td>
			        </tr>
		        </tbody>
			</table>
		</form>
	</div>
	
</body>

</html>
