<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title th:text="#{ListCategoryTitle}">List Category Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form id="list" class="jsfcrud_list_form" th:method="'delete'" th:action="@{/admin/category/delete}" >
			<input type="hidden" name="deleteId" value=""/>
			<div th:text="#{ListCategoryEmpty}" th:if="${items.empty}">Prototype Category List empty </div>
			<ul class="commandButtons">
				<li><a href="category/list.html" th:href="@{/admin/category/previous}" th:if="${pagination.hasPreviousPage}"><span th:text="|#{Previous} ${pagination.pageSize}|">Prototype Previous Page</span></a></li>
				<li><a href="category/list.html" th:href="@{/admin/category/next}" th:if="${pagination.hasNextPage}"><span th:text="|#{Next} ${pagination.pageSize}|">Prototype Next Page</span></a></li>
				<li><a href="category/create.html" th:href="@{/admin/category/create}"><span th:text="#{ListCategoryCreateLink}">Prototype List Category Create Link</span></a></li>
			</ul>
			<table th:unless="${items.empty}" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" >
				<thead>
		            <tr>
		                <th th:text="#{ListCategoryTitle_id}">Prototype id</th>
		                <th th:text="#{ListCategoryTitle_name}">Prototype name</th>
		                <th th:text="#{ListCategoryTitle_tags}">Prototype tags</th>
		                <th></th>
		            </tr>
		        </thead>
		        <tbody>
		        <tr th:each="item : ${items}" th:object="${item}">
		            <td th:text="*{id}">1234</td>
		            <td th:text="*{name}">Prototype Name</td>
		            <td th:text="*{tags}">Prototype Tags</td> 
		            <td>
		            	<a th:href="@{|/admin/category/*{id}/view|}"
                                   href="view.html"><span th:text="#{ListCategoryViewLink}">Prototype View</span></a>
                        &nbsp;
                        <a th:href="@{|/admin/category/*{id}/edit|}"
                                   href="edit.html"><span th:text="#{ListCategoryEditLink}">Prototype Edit</span></a>
                        &nbsp;
                        <a href="javascript: submitform();" th:href="@{|javascript:submitform(*{id}])|}" ><span th:text="#{ListCategoryDestroyLink}">Prototype Delete</span></a>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		</form>
		
		<script type="text/javascript">
			function submitform(id) {
				document.forms["list"].deleteId.value=id;
				document.forms["list"].submit();
			}
		</script>
	</div>
	
</body>

</html>
