<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title th:text="#{ListCategoryTitle}">List Category Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form class="jsfcrud_list_form">
			<div th:text="#{ListCategoryEmpty}" th:if="${items.empty}">Prototype Category List empty </div>
			<ul>
				<li><a href="category/list.html" th:href="@{admin/category/list}"><span th:text="#{ListCategoryTitle}">Prototype Category List</span></a></li>
				<li><h:commandLink action="#{categoryController.previous}" value="#{bundle.Previous} #{categoryController.pagination.pageSize}" rendered="#{categoryController.pagination.hasPreviousPage}"/></li>
                <li><h:commandLink action="#{categoryController.next}" value="#{bundle.Next} #{categoryController.pagination.pageSize}" rendered="#{categoryController.pagination.hasNextPage}"/></li>
                <li><h:commandLink action="#{categoryController.prepareCreate}" value="#{bundle.ListCategoryCreateLink}"/></li>
			</ul>
			<table th:unless="${items.empty}">
		        <tbody>
		        <tr th:each="item : ${items}">
		            <td>
		            	<img src="../../../resources/img/tango_nature_icon.png" th:src="@{/img/tango_nature_icon.png}" 
		            			alt="prototype tango nature alt " title="Prototype tango nature title"/>
		            	
		            </td>
		            <td>
		            	<a href="list.html" th:href="@{'products/' + ${item.id}}"><span th:text="${item.name}">Prototype product list</span></a>
		            </td>
		        </tr>
		        </tbody>
		    </table>
		</form>
	</div>
	
</body>

</html>
