<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      lang="en"
      layout:decorator="layouts/template">

<head>
    <title th:text="#{ListProductTitle}">Prototype List Product Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../../../resources/css/default.css"
          th:href="@{/css/default.css}" rel="stylesheet" />
          
    <link rel="shortcut icon" type="image/x-icon" href="../../../resources/img/logo-small.ico"
    	th:href="@{/img/logo-small.ico}"/>
</head>
<img src="../../images/header.jpg" th:src="@{/resources/images/header.jpg}" alt="Spring Travel" />
<body>
	<!--/* Content of this page will be decorated by the elements of template.html (layouts/template.html) */-->
	<div layout:fragment="body">
		<form class="jsfcrud_list_form">
			<div th:text="#{ListProductEmpty}" th:if="${items.empty}">Prototype Product List empty </div>
			
			<h:panelGroup>
                <h:dataTable value="#{productController.items}"  rowClasses="firstRow,secondRow" var="item" border="0" cellpadding="0" cellspacing="0" rules="all" rendered="#{productController.items.rowCount > 0}">
                    <h:column class="productColumn">
                        <util:productProfile data="#{item}" />
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
			
			<table th:unless="${items.empty}" border="0" cellpadding="0" cellspacing="0" rules="all" >
		        <tbody>
		        <tr th:each="item : ${items}" th:class="${itemStat.odd}? 'firstRow' : 'secondRow'">
		            <td>
		            	<img src="../../../resources/img/tango_nature_icon.png" th:src="@{/img/tango_nature_icon.png}" 
		            			alt="prototype tango nature alt " title="Prototype tango nature title"/>
		            	
		            </td>
		            <td>
		            	<a href="list.html" th:href="@{'products/' + ${item.id}}"><span th:text="${item.name}">Prototype product list</span></a>
		            </td>
		        </tr>
		        </tbody>
		    </table>
			
		</form>
	</div>
	
</body>

</html>
